<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<div id="app">
    <input type="checkbox" id="1" value="bai" v-model="classes">
    <label for="1">Bogate Aplikacje Internetowe</label>
    <br>
    <input type="checkbox" id="2" value="mo" v-model="classes">
    <label for="2">Metody Optymalizacyjne</label>
    <br>
    <input type="checkbox" id="3" value="ang" v-model="classes">
    <label for="3">Język Angielski</label>
    <br>
    <input type="checkbox" id="4" value="pk" v-model="classes">
    <label for="4">Programowanie Kreatywne</label>
    <br>
    <input type="checkbox" id="5" value="hd" v-model="classes">
    <label for="5">Hurtownie Danych</label>
    <br>
    <p><span>Liczba wybranych przedmiotów: {{classes.length}}</span></p>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            classes: []
        },
    });
</script>

</body>
</html>